@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --ucla-blue: #2274a5;
  --pearl: #e7dfc6;
  --alice-blue: #e9f1f7;
  --rich-black: #131b23;
  --cinereous: #816c61;
}

html {
  font-family: "Montserrat", serif;
  background-color: #fff;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  border-radius: 50px;
  border: none;
  padding: 5px 20px;
}

svg {
  width: 20px;
  margin-right: 8px;
}

.container {
  header {
    background-color: var(--ucla-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3);
    .logo {
      display: flex;
    }
    .isotype {
      width: 40px;
    }
    h1 {
      color: #fff;
      font-weight: 900;
      font-size: 1.5em;
    }
    button {
      background-color: var(--alice-blue);
      color: var(--ucla-blue);
    }
  }
  .books {
    display: grid;
    grid-template: auto / repeat(4, 200px);
    justify-content: center;
    .book {
      display: flex;
      flex-direction: column;
      .cover {
        background-image: url("/images/whiteBook.png");
        background-repeat: no-repeat;
        height: 200px;
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 70px 57px 0 61px;
        span {
          font-weight: 800;
          color: var(--ucla-blue);
        }
      }
      .buttons {
        display: flex;
        flex-direction: column;
        padding: 0 20px 30px;
        button {
          margin-bottom: 5px;
        }
        .read {
          background-color: var(--rich-black);
          color: var(--pearl);
        }
        .delete {
          background-color: crimson;
          color: var(--pearl);
        }
      }
    }
  }
}

dialog {
  border-radius: 10px;
  border: 2px solid var(--ucla-blue);
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3);
  form {
    section {
      padding-top: 20px;
      p {
        margin: 10px;
        label {
          font-size: 0.8em;
          font-weight: 400;
        }
        input {
          border-radius: 50px;
          border: 1px solid var(--ucla-blue);
          width: 100%;
        }
      }
    }
    menu {
      display: flex;
      justify-content: center;
      padding: 0;
      margin-top: 20px;
      #saveButton {
        background-color: var(--ucla-blue);
        color: #fff;
        width: 100%;
      }
      #cancel {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 40px;
        background-color: crimson;
        border: none;
        border-radius: 50%;
        color: white;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }
  }
}
